.add-task-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40rem;
  height: 5.3rem;
  border-radius: 0.2rem;
  padding: 0.4rem;
  margin-top: 120px;
  margin-left: 160px;
}

.task-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 1.6rem auto;
}

.column {
  width: 8.4rem;
  margin: 0 0.6rem;
  background: #a8a8a8;
  /* border: #000013 0.1rem solid; */
  border-radius: 0.2rem;
}

.column-header {
  padding: 0.1rem;
  /* border-bottom: #000013 0.2rem solid; */
}

.column-header>h4 {
  text-align: center;
}

.to-do-column .column-header {
  background: #d0d3c5;
}

.doing-column .column-header {
  background: #56b1bf;
}

.done-column .column-header {
  background: #08708a;
}

.trash-column .column-header {
  background: #ff4444;
}

/* .task-list {
  min-height: 3rem;
} */

/* ul */
.task-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 3rem;
}

/* li */
.task-list li {
  list-style-type: none;
}

.column-button {
  text-align: center;
  padding: 0.1rem;
}

.button {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  /* border: #000013 0.14rem solid; */
  border-radius: 0.2rem;
  color: #000013;
  padding: 0.6rem 1rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.delete-button {
  background-color: #ff4444;
  /* margin: 0.1rem auto 0.6rem auto; */
}

.delete-button:hover {
  background-color: #fa7070;
}

.add-button {
  background-color: #d0d3c2;
  padding: 0 1rem;
  height: 2.8rem;
  width: 10rem;
  margin-top: 0.6rem;
}

.add-button:hover {
  background-color: #d0d3b5;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  list-style-type: none;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0.4rem;
  height: 4rem;
  /* border: #000013 0.15rem solid; */
  border-radius: 0.2rem;
  cursor: move;
  text-align: center;
  vertical-align: middle;
}

#taskText {
  background: #fff;
  /* border: #000013 0.15rem solid; */
  border-radius: 0.2rem;
  text-align: center;
  height: 2.8rem;
  width: 20rem;
  margin: 0.6rem;
}

.task p {
  margin: auto;
}

/* Dragula CSS Release 3.2.0 from: https://github.com/bevacqua/dragula */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
